{% load static %}
 {% load crispy_forms_tags %}


<!DOCTYPE html>
<html>
<head>

	  <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<style>

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  border-right:0px solid #bbb;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
b{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
  color: white;
}

.active {
  background-color: #4CAF50;
}
  </style>

	
</head>
<body>

  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
// Load google charts
google.charts.load('current', {'packages':['corechart']});
google.charts.setOnLoadCallback(drawChart);

// Draw the chart and set the chart values
function drawChart() {

  var p={{p}};
  var a={{a}};
  var wo={{wo}};
  var ho={{ho}};
  var pj=JSON.parse(p);
  var aj=JSON.parse(a);
  var woj=JSON.parse(wo);
  var hoj=JSON.parse(ho);
  var data = google.visualization.arrayToDataTable([
  ['Emp', 'Days'],
  ['Present', pj],
  ['Absent', aj],
  ['WeekOff', woj],
  ['Holiday', hoj],
  
]);

  // Optional; add a title and set the width and height of the chart
  var options = {'title':'Attendance Chart', 'width':550 , 'height':400};

  // Display the chart inside the <div> element with id="piechart"
  var chart = new google.visualization.PieChart(document.getElementById('piechart'));
  chart.draw(data, options);
}
</script>

  <ul>
    <li class="active"><a href="{%url 'dashboard' %}" style="color: white;">Home</a></li>
    <li><a href="{%url 'view-my-profile' %}">Personal</a></li>
    <li><a href="{%url 'view-my-attendance-employee-login' %}">Attendance</a></li>
    <li><a href="{%url 'employee-holiday' %}">Holiday</a></li>

    <li style="float:right"><a href="{% url 'logout' %}">Logout</a></li>
  </ul>
  
<div style="padding: 4em;" width="70%">

<table align="left" style="margin-left: 3em;"><tr><td>
	<div class="container" style="margin-left:1em">
  <div style="width:300px;">

 <form method="POST" style="margin-top: 1em;align:left;">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom mb-" style="margin-bottom: 1em;"> Select Duration </legend>
        {{form| crispy}}
      </fieldset>

      <div class="form-group">
        <button class="btn btn-outline-info" type="submit"> Submit</button>
      </div>
    </form>

</div>
</td></tr></table>

{%if qs%}
<table align="left"  border="0" width="68%" height="100px" style="margin-left: 3em;margin-top: 3em;margin-bottom: 5em;box-shadow: 2px 2px 10px #ccc;">
  <tr>
    <td>
      <table height="100%" width="100%">
        <tr>
          <td height="20%" style="text-align: center;background-color: rgba(0, 0, 0, 1);color: rgb(255, 255, 255);padding: 11px;">
              Attendance Chart
          </td>
        </tr>
        <tr>
          <td style="background-color: rgba(209, 209, 209, 0.179);padding-left: 2em;padding-bottom: 5px;" > <div  style="align-items:center"  id="piechart"></div>

          </td>
        </tr>
      </table>

    </td>
    <td width="35%">
      <table height="100%" width="100%">
        <tr>
          <td height="10%" style="text-align: center;background-color: rgba(0, 0, 0, 1);color: white;" colspan="2">
              Attendance Summary
          </td>
        </tr>
        <tr style="text-align: center"><td width="50%">P</td><td>{{p}}</td></tr>
        <tr style="text-align: center;background-color: rgba(204, 204, 204, 0.274);"><td width="50%">A</td><td>{{a}}</td></tr>
        <tr style="text-align: center;"><td width="50%">HO</td><td>{{ho}}</td></tr>
        <tr style="text-align: center;background-color: rgba(204, 204, 204, 0.274);"><td width="50%">WO</td><td>{{wo}}</td></tr>
    
        <tr style="text-align: center"><td width="50%">Salary Days</td><td>{{sd}}</td></tr>
      </table>

    </td>
  </tr>

  
</table>

<table class="table"  style="box-shadow: 2px 2px 10px #ccc; margin-left: 5em;width: 1300px;">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Date</th>
        
        <th scope="col" >Employee</th>
        <th scope="col">Present</th>
        <th scope="col">Time in</th>
        <th scope="col">Time out </th>
         <th scope="col">Hours </th>
         <th scope="col"> Break Hours </th>
    </tr>
</thead>
<tbody>
    {% for item in l %}
    <tr> 
           <td>{{ item.d}}</td>
        <td>{{ item.e}}</td>
     
         {% if item.p %}
        <td> {{item.p}} </td>
        {% else %}
        <td> A </td>
        {% endif %}
        {% if item.ti %}
        <td>{{ item.ti }}</td>
       {% else %}
       <td> - </td>
       {% endif %}
         {% if item.to %}
        <td>{{ item.to }}</td>
       {% else %}
       <td> - </td>
       {% endif %}
       <td> {{item.h}}</td>
          <td> {{item.bh}}</td>
    </tr>
    {% endfor %}
</tbody>
</table>


 <div class="card" style=" margin-top: 5em; margin-bottom: 10em;">
  <img class="card-img-top" src="{% static 'recognition/img/attendance_graphs/employee_login/1.png'%}" width="200" height="400" alt="Card image cap">
  <div class="card-body">
    <p class="card-text" style="text-align: center;">Number of hours worked each day.</p>
  </div>
</div>
</div>


{% endif %}



 {% if messages %}
      {% for message in messages%}
      <div class="alert alert-{{message.tags}}" > {{message}}
      </div>
      {%endfor %}

    {%endif%}

</div>

  <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


	</body>
</html>